config SHIELD_BRIDGES_LEFT
  def_bool $(shields_list_contains,bridges_left)

config SHIELD_BRIDGES_RIGHT
  def_bool $(shields_list_contains,bridges_right)

config SHIELD_BRIDGES_DONGLE
  def_bool $(shields_list_contains,bridges_dongle)
